/*
  Styles for HTML5 File Drag & Drop demonstration
  Featured on SitePoint.com
  Developed by Craig Buckler (@craigbuckler) of OptimalWorks.net
  */
body {
    font: normal 16px/20px "Helvetica Neue", Helvetica, sans-serif;
    background: rgb(237, 237, 236);
    margin: 0;
    margin-top: 40px;
    padding: 0;
    color: #222222;
}

h1
{
    color: steelblue;
    margin: 30px;
    text-shadow: 1px 1px grey;
}

section, header, footer {
    display: block;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

#wrapper {
    min-width: 600px;
    width: 75%;
    margin: 0 auto;
    background: #fff repeat-x center bottom;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-top: 1px solid #fff;
    padding-bottom: 76px;
}
/* body */
/* { */
/*     font-family: "Segoe UI", Tahoma, Helvetica, freesans, sans-serif; */
/*     font-size: 90%; */
/*     margin: 10px; */
/*     color: #333; */
/*     background-color: #fff; */
/* } */
!
h1, h2
{
    font-size: 1.5em;
    font-weight: normal;
}

h2
{
    font-size: 1.3em;
}

legend
{
    font-weight: bold;
    color: #333;
}

#filedrag
{
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

#filedrag.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

img
{
    max-width: 100%;
}

pre
{
    width: 95%;
    height: 8em;
    font-family: monospace;
    font-size: 0.9em;
    padding: 1px 2px;
    margin: 0 0 1em auto;
    border: 1px inset #666;
    background-color: #eee;
    overflow: auto;
}

#progresscol
{
    min-width: 100px;
}

.progressbar
{
    display: block;
    background: #eee url("progress.png") 100% 0 repeat-y;
    text-align: center;
    color: darkgreen;
}

td, th
{
    border: 1px solid lightblue;
    padding: 3px 10px;
}

td.success
{
    background: #0c0 none 0 0 no-repeat;
}

td.failed
{
    background: #c00 none 0 0 no-repeat;
}

#tableuploads
{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

fieldset
{
    border: 1px solid lightblue;
    padding: 10px;
}

#player
{
    display: table;
    margin: 0 auto;
    text-align: center;
    padding: 1em 0;
}